/*vue-transition*/
//анимация появления продуктов в каталоге

//анимация появления кнопки назад в тегах
.shift-opacity-enter-active {
  animation: shift-opacity .15s;
}

.shift-opacity-leave-active {
  animation: shift-opacity .15s reverse;
}


@keyframes shift-opacity {
  0% {
    width: 0;
    margin-right: 0;
    opacity: 0;
  }
  100% {
    width: 30px;
    margin-right: 6px;
    opacity: 1;
  }
}

//анимация появления/скрытия навигации
.shift-navbar-enter-active,
.shift-navbar-leave-active {
  transform: translateX(0);
  transition: 0.4s ease-in-out;
}

.shift-navbar-enter-from,
.shift-navbar-leave-to {
  transform: translateX(-100%);
}

//анимация появления/скрытия корзины
.shift-cart-enter-active,
.shift-cart-leave-active {
  transform: translateX(0);
  transition: 0.4s ease-in-out;
}

.shift-cart-enter-from,
.shift-cart-leave-to {
  transform: translateX(100%);
}

//анимация удаления/появления продукта в корзине
.collapse-enter-from {
  opacity: 0;
  transition: 0.25s;
}

.collapse-enter-to {
  opacity: 1;
  transition: 0.25s;
}

.collapse-leave-active {
  height: 101px;
  transition: 0.25s;
  border-bottom: none;
}

.collapse-leave-to {
  height: 0;
  padding: 0;
}

//анимация изменения количества в иконке корзины
.bubble-enter-from {
  transform: scale(1);
}

.bubble-enter-to {
  transform: scale(1.5);
  transition: 0.15s;
}
