body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  color: $black;
  background-color: $white;
  margin: 0;
  font-size: 16px;
  font-family: $font-main;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: $font-main;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 12px 0;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1440px;
}

.title {
  margin-bottom: 12px;
}