/*media queries*/
/*width*/
@media (min-width: 375px) {

}

@media (min-width: 430px) {

}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .categories {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .categories {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .categories {
    grid-template-columns: repeat(5, 1fr);
  }
}