//Шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-main: 'Montserrat', 'Arial', sans-serif;

//Цвета
$brand: #E56A77;
$black: #252525;
$white: #FFF;

$gray-light: #F5F5F5;
$gray: #D3D3D3;
$gray-dark: #808080;

$shadow-color: rgba($black, 0.1);

//Другое
$radius: 6px;