.cart {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  z-index: 2;
  box-shadow: -1px 0 2px 0 $shadow-color;

  &__header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background: linear-gradient(rgba($white, 1), rgba($white, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .cart__title {
      text-align: center;
      margin: 0;
    }

    .cart__btn-close {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;

      svg {
        width: auto;
        height: 20px;
        fill: $black;
      }
    }
  }

  &__scroll {
    position: relative;
    flex: 1;
    min-height: 250px;
    z-index: 1;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none !important;
      background: transparent;
    }
  }

  &__content {
    padding: 50px 12px 0;
  }

  &__footer {
    position: relative;
    background: $gray-light;
    padding: 12px;
    z-index: 3;
    box-shadow: 0 -1px 2px 0 $shadow-color;

    .cart__total-price {
      text-align: center;
      margin-bottom: 12px;

      &-value {
        font-size: 1.2em;
        font-weight: bolder;
      }
    }

    .cart__btn-order {
      width: 100%;
      height: 60px;
      background: #e56a77;
      color: $white;
      font-size: 1.2em;
      font-weight: 600;
      border-radius: $radius * 2;

      &[disabled] {
        background: $gray-dark;
        cursor: default;
      }
    }
  }

  &__empty-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 900;
    color: $gray-dark;
  }
}