.cart-item {
  position: relative;
  display: grid;
  grid-template-columns: 90px min-content 1fr 40px;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 12px;
  border-bottom: 1px solid $gray-light;
  padding: 12px 0;
  overflow: hidden;

  &__img {
    grid-column: 1;
    grid-row: 1 / 3;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    grid-row: 1;
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  &__total {
    grid-row: 2;
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
  }

  &__controls {
    position: relative;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $radius;
  }

  &__btn {
    font-family: inherit;
    width: 40px;
    height: 40px;
    border-radius: $radius;
    background: $gray-light;

    &_add {
      width: 100%;
      font-size: 1em;
    }

    svg {
      stroke: $black;
    }
  }

  &__count {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }

  &__delete {
    grid-row: 1;
    grid-column: 4 / 5;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    background: transparent;

    svg {
      stroke: $gray-dark;
    }

    &:hover {
      svg {
        stroke: $black;
      }
    }
  }
}