.header {
  position: sticky;
  top: 0;
  background: $gray-light;
  height: 50px;
  z-index: 1;
  box-shadow: 0 1px 2px 0 $shadow-color;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .brand {
    height: 40px;
    width: 40px;
    margin-left: 12px;

    img {
      width: auto;
      height: 100%;
    }
  }

  .btn-navbar {
    position: relative;
    height: 40px;
    width: 40px;
    padding: 3px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

    div {
      font-size: 14px;
      font-weight: 600;
      width: 50%;
      height: 50%;
      line-height: 1;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      &:nth-child(n+3) {
        align-items: flex-end;
      }

      &:nth-child(2n+2) {
        justify-content: flex-end;
      }
    }
  }

  .btn-cart {
    position: relative;
    height: 40px;
    width: 40px;
    background: transparent;
    margin-left: auto;

    svg {
      fill: $black;
    }

    &__count {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 2px;
      bottom: 2px;
      border-radius: 50%;
      background: $brand;
      color: $white;
      font-size: 10px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}