.navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background: $white;
  z-index: 2;
  box-shadow: 1px 0 2px 0 $shadow-color;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__header {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    background: transparent;
  }

  &__nav {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__link {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    line-height: 2;

    &_active {
      color: $brand;
    }
  }

  &__footer {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__social-link {
    margin-right: 12px;
    width: 30px;
    height: 30px;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      fill: $gray;
      transition: 150ms;
    }

    &:hover, &:focus {
      svg {
        fill: $gray-dark;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}