.product {
  position: relative;
  background: $gray-light;
  padding: 6px;
  border-radius: $radius * 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content min-content;
  gap: 6px;
  box-shadow: 0 0 2px 1px $shadow-color;

  &_disabled {
    opacity: 0.5;
    box-shadow: none;
  }

  &__img {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background: $white;
    border-radius: $radius;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($gray-dark, 0.5);
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 1px $black;

    span {
      font-weight: 600;
    }
  }

  &__total {
    font-size: 1.7em;
    font-weight: 600;
  }

  &__name {
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__weight {
    font-size: 0.8em;
    color: $gray-dark;
    text-align: center;
  }

  &__controls {
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    border-radius: $radius;

    .product__btn {
      width: 48px;
      height: 48px;
      border-radius: $radius;
      background: $white;

      &_add {
        width: 100%;
        font-size: 1em;
        font-weight: 600;

        &:disabled {
          background: $gray-dark;
          color: $white;
          cursor: default;
          font-weight: 400;
        }
      }

      svg {
        stroke: $black;
      }
    }

    .product__count {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 600;
    }
  }
}