.tags {
  position: relative;
  display: flex;
  margin-bottom: 12px;
  &__item {
    font-size: 14px;
    padding: 6px 8px;
    background: $gray-light;
    border-radius: $radius;
    border: none;
    color: $black;
    cursor: pointer;
    margin-right: 6px;
    &_selected {
      background: $brand;
      color: $white;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__btn-back {
    width: 30px;
    background: $gray-light;
    border-radius: $radius;
    margin-right: 6px;
    padding: 0;
    svg {
      height: 12px;
      width: auto;
      transform: rotate(-180deg);
      fill: $black;
    }
  }
}