<template>
  <main class="catalog">
    <div class="container">
      <h1 class="title title_catalog">Каталог</h1>
      <ProductTags/>
      <div class="categories">
<!--        <transition-group name="slide-fade" mode="out-in">-->
          <Product
            v-for="item in productsBySelectedTags"
            :key="item.id"
            :product_data="item"
            @addToCart="addToCart"
            @plusToCart="plusToCart"
            @minusToCart="minusToCart"
          />
<!--        </transition-group>-->
      </div>
    </div>
  </main>
</template>

<script>
import Product from '@/components/Product.vue'
import ProductTags from '@/components/ProductTags'
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  name: 'Catalog',
  computed: {
    ...mapGetters([
      'PRODUCTS',
      'TAGS',
      'SELECTED_TAGS'
    ]),
    ...mapMutations(['UPDATE_PRODUCTS']),
    productsBySelectedTags () {
      if (this.SELECTED_TAGS.length === 0) {
        return this.PRODUCTS
      } else {
        const productsByTags = []
        this.SELECTED_TAGS.map((itemTag) => {
          this.PRODUCTS.map(function (itemProduct) {
            const productTags = itemProduct.tag.split(' ')
            if (productTags.find(item => item === itemTag)) {
              productsByTags.push(itemProduct)
            }
          })
        })
        return productsByTags
      }
    }
  },
  mounted () {
    this.GET_PRODUCTS()
    // sessionStorage.clear()
    this.getCartFromStorage()
  },
  methods: {
    ...mapActions([
      'GET_PRODUCTS',
      'ADD_TO_CART',
      'PLUS_TO_CART',
      'MINUS_TO_CART',
      'CART_FROM_STORAGE'
    ]),
    addToCart (data) {
      this.ADD_TO_CART(data)
    },
    plusToCart (data) {
      this.PLUS_TO_CART(data)
    },
    minusToCart (data) {
      this.MINUS_TO_CART(data)
    },
    getCartFromStorage () {
      if (sessionStorage.cart) {
        const cart = JSON.parse(sessionStorage.cart)
        this.CART_FROM_STORAGE(cart)
      }
    }
  },
  components: {
    Product, ProductTags
  }
}
</script>
