<template>
  <div class="cart">
    <header class="cart__header">
      <h2 class="cart__title">Корзина</h2>
      <button @click="CART_STATUS_SWITCHER" class="cart__btn-close">
        <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.366026 19.708C0.771026 20.098 1.42603 20.098 1.83003 19.708L10.393 11.4439C10.5847 11.2617 10.7373 11.0428 10.8416 10.7998C10.9459 10.5568 10.9997 10.2947 10.9997 10.0303C10.9997 9.76587 10.9459 9.50425 10.8416 9.26126C10.7373 9.01826 10.5847 8.79938 10.393 8.61721L1.76803 0.292017C1.57229 0.105965 1.31307 0.00139415 1.04301 -0.000463169C0.77296 -0.00232048 0.512312 0.0989091 0.314024 0.282252C0.215796 0.372792 0.137209 0.48237 0.0831132 0.604517C0.0290175 0.726665 0.00057199 0.858626 -0.000459201 0.992213C-0.00149039 1.1258 0.0249129 1.25792 0.0771165 1.38088C0.12932 1.50385 0.206204 1.61501 0.303023 1.70706L8.19702 9.32424C8.29294 9.41533 8.36931 9.52496 8.42151 9.64651C8.4737 9.76805 8.50064 9.89851 8.50064 10.0308C8.50064 10.1631 8.4737 10.294 8.42151 10.4156C8.36931 10.5371 8.29294 10.6467 8.19702 10.7378L0.366026 18.2949C0.270136 18.3859 0.193783 18.4958 0.1416 18.6172C0.0894177 18.7387 0.0624986 18.8693 0.0624986 19.0015C0.0624986 19.1337 0.0894177 19.2643 0.1416 19.3858C0.193783 19.5072 0.270136 19.617 0.366026 19.708Z"
                fill="black"/>
        </svg>
      </button>
    </header>
    <div class="cart__scroll">
      <div class="cart__content">
        <transition-group name="collapse">
          <CartItem
            v-for="(item, index) in CART"
            :key="item.id"
            :cart_item_data="item"
            @deleteFromCart="deleteFromCart(index)"
            @plusToCart="plusToCart"
            @minusToCart="minusToCart"
          />
        </transition-group>
      </div>
    </div>
    <div class="cart__empty-text" v-if="CART.length === 0">Пусто</div>
    <footer class="cart__footer">
      <div class="cart__total-price" v-if="CART.length > 0">Итого
        <span class="cart__total-price-value">{{totalPrice}} ₽</span>
      </div>
      <button
        :disabled="CART.length === 0"
        class="cart__btn-order"
        @click="orderSubmit"
      >
        Заказать
      </button>
    </footer>
  </div>
</template>

<script>
import CartItem from '@/components/CartItem.vue'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'Cart',
  components: {
    CartItem
  },
  props: {
    cart_data: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {}
  },
  computed: {
    ...mapGetters(['CART']),
    totalPrice () {
      let total = 0
      this.CART.map(function (item) {
        const sum = parseInt(item.price * item.count)
        total = total + sum
      })
      return total
    }
  },
  methods: {
    ...mapActions([
      'DELETE_FROM_CART',
      'PLUS_TO_CART',
      'MINUS_TO_CART',
      'CART_STATUS_SWITCHER',
      'ORDER_SUBMIT'
    ]),
    deleteFromCart (index) {
      this.DELETE_FROM_CART(index)
    },
    plusToCart (data) {
      this.PLUS_TO_CART(data)
    },
    minusToCart (data) {
      this.MINUS_TO_CART(data)
    },
    orderSubmit () {
      this.ORDER_SUBMIT(this.CART)
    }
  }
}
</script>
