<template>
  <article class="cart-item">
    <div class="cart-item__img">
      <img :src=" require('../assets/img/product/' + cart_item_data.src) " alt="img">
    </div>
    <div class="cart-item__name" @click="showModal">{{ cart_item_data.name }}</div>

    <div class="cart-item__controls">
      <button class="cart-item__btn cart-item__btn_minus" @click="minusToCart()">
        <svg width="14" height="2" viewBox="0 0 14 2" fill="none" stroke="black" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1H13" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div class="cart-item__count">{{ count }}</div>
      <button v-if="count < cart_item_data.amount" class="cart-item__btn cart-item__btn_plus" @click="plusToCart()">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" stroke="black" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 7H13M7 1V13V1Z" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <div class="cart-item__total">{{ cart_item_data.price * count }} ₽</div>

    <button class="cart-item__delete" @click="deleteFromCart">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" stroke="black" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.31242 12.6875L12.6875 1.31242M1.31242 1.31242L12.6875 12.6875L1.31242 1.31242Z" stroke="inherit"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </article>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CartItem',
  props: {
    cart_item_data: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data: () => {
    return {
      isModalVisible: false
    }
  },
  computed: {
    ...mapGetters(['CART']),
    count () {
      return this.CART.find(product => product.id === this.cart_item_data.id).count
    }
  },
  methods: {
    deleteFromCart () {
      this.$emit('deleteFromCart')
    },
    plusToCart () {
      this.$emit('plusToCart', this.cart_item_data)
    },
    minusToCart () {
      this.$emit('minusToCart', this.cart_item_data)
    }
  }
}
</script>
