<template>
  <header class="header">
    <div class="container">
      <button class="btn-navbar" @click="NAVBAR_STATUS_SWITCHER">
        <div>М</div>
        <div>Е</div>
        <div>Н</div>
        <div>Ю</div>
      </button>
      <a class="brand">
        <img src="../assets/svg/logo.svg" alt="">
      </a>
      <button class="btn-cart" @click="CART_STATUS_SWITCHER">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="black" xmlns="http://www.w3.org/2000/svg">
          <path d="M36.25 15H30.6687L26.04 8.05625C25.6575 7.48125 24.88 7.32625 24.3062 7.71C23.7325 8.0925 23.5775 8.86875 23.96 9.44375L27.665 15H12.335L16.04 9.44375C16.4225 8.87 16.2675 8.0925 15.6938 7.71C15.1188 7.32625 14.3425 7.48125 13.96 8.05625L9.33125 15H3.75C3.06 15 2.5 15.56 2.5 16.25C2.5 16.94 3.06 17.5 3.75 17.5H5.1L6.06375 29.0613C6.22375 30.99 7.865 32.5 9.8 32.5H30.2C32.135 32.5 33.7762 30.99 33.9375 29.0613L34.9 17.5H36.25C36.94 17.5 37.5 16.94 37.5 16.25C37.5 15.56 36.94 15 36.25 15ZM15 27.5C15 28.19 14.44 28.75 13.75 28.75C13.06 28.75 12.5 28.19 12.5 27.5V21.25C12.5 20.56 13.06 20 13.75 20C14.44 20 15 20.56 15 21.25V27.5ZM21.25 27.5C21.25 28.19 20.69 28.75 20 28.75C19.31 28.75 18.75 28.19 18.75 27.5V21.25C18.75 20.56 19.31 20 20 20C20.69 20 21.25 20.56 21.25 21.25V27.5ZM27.5 27.5C27.5 28.19 26.94 28.75 26.25 28.75C25.56 28.75 25 28.19 25 27.5V21.25C25 20.56 25.56 20 26.25 20C26.94 20 27.5 20.56 27.5 21.25V27.5Z"
                fill="inherit"/>
        </svg>
        <transition name="bubble">
          <div
            class="btn-cart__count"
            v-if="CART.length > 0"
            :key="totalCount"
          >
            {{totalCount}}
          </div>
        </transition>
      </button>
    </div>
  </header>
  <transition name="shift-navbar">
    <Navbar v-if="NAVBAR_STATUS === true"/>
  </transition>
  <transition name="shift-cart">
    <Cart
      v-if="CART_STATUS === true"
      :cart-data="CART"
    />
  </transition>
</template>

<script>
import Cart from '@/components/Cart.vue'
import Navbar from '@/components/Navbar.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    Cart, Navbar
  },
  data: () => {
    return {}
  },
  computed: {
    ...mapGetters([
      'CART',
      'CART_STATUS',
      'NAVBAR_STATUS'
    ]),
    totalCount () {
      let total = 0
      this.CART.map(function (item) {
        const sum = parseInt(item.count)
        total = total + sum
      })
      return total
    }
  },
  watch: {
    CART_STATUS: function () {
      if (this.CART_STATUS) {
        document.body.style.overflow = 'hidden'
      } else {
        document.body.style.overflow = 'auto'
      }
    },
    totalCount: function () {
      sessionStorage.cart = JSON.stringify(this.CART)
    }
  },
  methods: {
    ...mapActions([
      'CART_STATUS_SWITCHER',
      'NAVBAR_STATUS_SWITCHER'
    ])
  }
}
</script>
