<template>
  <div class="navbar">
    <div class="navbar__container">
      <header class="navbar__header">
        <div class="navbar__user">Пользователь</div>
        <button @click="NAVBAR_STATUS_SWITCHER" class="navbar__btn-close">
          <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.366026 19.708C0.771026 20.098 1.42603 20.098 1.83003 19.708L10.393 11.4439C10.5847 11.2617 10.7373 11.0428 10.8416 10.7998C10.9459 10.5568 10.9997 10.2947 10.9997 10.0303C10.9997 9.76587 10.9459 9.50425 10.8416 9.26126C10.7373 9.01826 10.5847 8.79938 10.393 8.61721L1.76803 0.292017C1.57229 0.105965 1.31307 0.00139415 1.04301 -0.000463169C0.77296 -0.00232048 0.512312 0.0989091 0.314024 0.282252C0.215796 0.372792 0.137209 0.48237 0.0831132 0.604517C0.0290175 0.726665 0.00057199 0.858626 -0.000459201 0.992213C-0.00149039 1.1258 0.0249129 1.25792 0.0771165 1.38088C0.12932 1.50385 0.206204 1.61501 0.303023 1.70706L8.19702 9.32424C8.29294 9.41533 8.36931 9.52496 8.42151 9.64651C8.4737 9.76805 8.50064 9.89851 8.50064 10.0308C8.50064 10.1631 8.4737 10.294 8.42151 10.4156C8.36931 10.5371 8.29294 10.6467 8.19702 10.7378L0.366026 18.2949C0.270136 18.3859 0.193783 18.4958 0.1416 18.6172C0.0894177 18.7387 0.0624986 18.8693 0.0624986 19.0015C0.0624986 19.1337 0.0894177 19.2643 0.1416 19.3858C0.193783 19.5072 0.270136 19.617 0.366026 19.708Z"
                  fill="black"/>
          </svg>
        </button>
      </header>
      <nav class="navbar__nav">
        <router-link
          class="navbar__link"
          v-for="link in links"
          :key="link.url"
          active-class="navbar__link_active"
          :to="link.url"
          :exact="link.exact"
        >
          {{link.title}}
        </router-link>
      </nav>
      <footer class="navbar__footer">
        <a class="navbar__social-link" href="https://www.instagram.com/kolbasa_na_noch/" target="_blank">
          <svg width="41" height="40" viewBox="0 0 41 40" fill="" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.4313 0H8.16068C3.65328 0 0 3.65328 0 8.16068V31.8393C0 36.3467 3.65328 40 8.16068 40H32.4313C36.9387 40 40.592 36.3467 40.592 31.8393V8.16068C40.592 3.65328 36.9387 0 32.4313 0ZM20.296 29.556C15.019 29.556 10.74 25.277 10.74 20C10.74 14.723 15.019 10.444 20.296 10.444C25.5729 10.444 29.852 14.723 29.852 20C29.852 25.277 25.5729 29.556 20.296 29.556ZM32.6173 10.1987C31.4926 10.1987 30.5793 9.28541 30.5793 8.16068C30.5793 7.03594 31.4926 6.12262 32.6173 6.12262C33.7421 6.12262 34.6554 7.03594 34.6554 8.16068C34.6554 9.28541 33.7421 10.1987 32.6173 10.1987Z"
                  fill="inherit"/>
          </svg>
        </a>
        <a class="navbar__social-link" href="https://t.me/+qpH7qrIRv_Y0Mzhi" target="_blank">
          <svg width="48" height="40" viewBox="0 0 48 40" fill="" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.8343 26.3627L18.0403 37.5306C19.1763 37.5306 19.6683 37.0426 20.2583 36.4566L25.5842 31.3667L36.6202 39.4486C38.6442 40.5766 40.0701 39.9826 40.6161 37.5866L47.8601 3.64279L47.8621 3.64079C48.5041 0.648808 46.7801 -0.521186 44.8081 0.21281L2.22834 16.5147C-0.677641 17.6427 -0.633641 19.2627 1.73435 19.9967L12.6203 23.3827L37.9062 7.56077C39.0962 6.77278 40.1781 7.20877 39.2881 7.99677L18.8343 26.3627Z"
                  fill="inherit"/>
          </svg>
        </a>
        <a class="navbar__social-link" href="tel:+79082311883">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="" xmlns="http://www.w3.org/2000/svg">
            <path d="M38.8693 29.3559L33.2871 23.7738C31.2935 21.7802 27.9044 22.5777 27.107 25.1693C26.5089 26.9637 24.5153 27.9605 22.721 27.5617C18.7338 26.5649 13.351 21.3815 12.3542 17.1949C11.7561 15.4006 12.9523 13.407 14.7466 12.809C17.3383 12.0115 18.1357 8.62237 16.1421 6.62876L10.56 1.04665C8.96509 -0.348882 6.57275 -0.348882 5.17722 1.04665L1.38936 4.83451C-2.3985 8.82173 1.78808 19.3879 11.1581 28.7578C20.528 38.1278 31.0942 42.5138 35.0814 38.5265L38.8693 34.7387C40.2649 33.1438 40.2649 30.7515 38.8693 29.3559Z"
                  fill="inherit"/>
          </svg>
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Navbar',
  data () {
    return {
      links: [
        { title: 'Каталог', url: '/', exact: true },
        { title: 'О нас', url: '/about' }
      ]
    }
  },
  methods: {
    ...mapActions(['NAVBAR_STATUS_SWITCHER'])
  }
}
</script>
