<template>
  <article class="product" :class="{'product_disabled': product_data.amount === 0}">
    <div class="product__img">
      <img
        :src="require('../assets/img/product/' + product_data.src)"
        alt="img">
      <div v-if="count > 0" class="product__info">
        <span v-if="product_data.amount > 0" class="product__total">{{ count * product_data.price }} ₽</span>
        <span v-if="count >= product_data.amount && product_data.amount != 0">Больше нет</span>
      </div>
    </div>
    <div class="product__name">{{ product_data.name }}</div>
    <div class="product__weight">{{ product_data.weight }} г</div>

    <div v-if="count === 0" class="product__controls">
      <button
        @click="addToCart()"
        :disabled="product_data.amount === 0"
        class="product__btn product__btn_add"
      >
        <span v-if="product_data.amount === 0">Нет в наличии</span>
        <span v-else>{{ product_data.price }} ₽</span>
      </button>
    </div>

    <div v-if="count > 0" class="product__controls">
      <button @click="minusToCart()" class="product__btn product__btn_minus">
        <svg width="14" height="2" viewBox="0 0 14 2" fill="none" stroke="black" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1H13" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div class="product__count">{{ count }}</div>
      <button
        v-if="count < product_data.amount"
        @click="plusToCart()"
        class="product__btn product__btn_plus"
      >
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" stroke="black" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 7H13M7 1V13V1Z" stroke="inherit" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </article>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Product',
  props: {
    product_data: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data: () => {
    return {}
  },
  computed: {
    ...mapGetters([
      'CART'
    ]),
    count () {
      if (this.CART.length !== 0) {
        let product
        if (this.CART.find(item => item.id === this.product_data.id)) {
          product = this.CART.find(item => item.id === this.product_data.id)
          return product.count
        }
      }
      return 0
    }
  },
  methods: {
    addToCart () {
      this.$emit('addToCart', this.product_data)
    },
    plusToCart () {
      this.$emit('plusToCart', this.product_data)
    },
    minusToCart () {
      this.$emit('minusToCart', this.product_data)
    }
  }
}
</script>
